@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}
body{
    width: 100%;
    min-width: 100vh;
    background: linear-gradient(135deg ,#153677,#4e085f);
}
h1{
    font-weight: bold;
    font-size: 50px;
    padding-top: 45px;
    padding-bottom: 18px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.input-container{
    width:100%;
    max-width:500px;
     text-align: center;
    padding: 20px; 

}
.input-container input{
    border:none;
    outline:none;
    padding:12px;
    margin-block: 12px;
    font-size: 18px;
    border-radius: 5px;
}
.input-container input[type="text"]{
    width:70%;
}
.input-container input[type="button"]{
    color:#fff;
    background-color: rgba(15, 15, 202, 0.690);
    padding:12px 20px;
    font-size:17px;
    margin-left: 8px;
    cursor: pointer;
}
.input-container input[type="button"]:hover{
    background-color: rgba(15,15,160,0.600);
    box-shadow: 2px 2px 2px #7e7b7b;

}
ul{
    width:100%;
    max-width: 440px;
}
ul li{
    list-style: none;
    border:0.110px solid #a19f9f;
    padding:10px 12px;
    margin-block-end:12px ;
    background-color: #fff;
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    
}
ul li:hover{
  background-color: #e4c3c3;
}
ul li p{
    flex-grow: 1;
    padding:2.5px;

}
.btn{
    border:none;
    outline:none;
    font-size:16px;
    background-color: none;
    font-weight: 600;
    cursor: pointer;
}
.deleteBtn{
    color:#c40707f9;
    padding-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.editBtn{
    color:rgb(21, 176, 42);
    /* font-size: 18px;
    padding-right: 8px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
@media (max-width:430px){
    .container{
        padding: 20px;
    }
}